body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 45px;
    display: flex;
    justify-content: center;
}

.navbar-brand:active {
    color: white;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-link:hover,
.nav-link:active {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-toggler-icon {
    filter: invert(1); 
}

.section-title {
    font-size: 1.5rem;
    color: #ccc;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 8px;
}

.image-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.tech-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .tech-images img {
    width: 80px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .tech-images img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  }

.footer {
    text-align: center;
    padding: 2rem 1rem; 
    margin-top: auto;
    font-size: 1.1rem;
  }
  
  .footer .social-links a {
    margin: 0 0.75rem;
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .footer .social-links img {
    width: 38px;
    height: 38px;
  }
  
  .footer p {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  

@media (max-width: 768px) {
    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    
    .navbar-nav {
        width: auto; 
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
    }

    .nav-link {
        text-align: right; 
        padding-right: 20px; 
    }
}

@media (max-width: 600px) {
    .navbar-brand {
        font-size: 34px;
    }
    
    .nav-link {
        font-size: 1.1rem;
    }
    
    .image-grid {
        font-size: 17px;
        padding: 0 20px;
        margin-top: 20px;
    }
    
    .footer {
        padding: 25px 0;
        margin-top: 200px;
    }
    
    .social-links img {
        width: 30px;
        margin-right: 8px;
    }
    
    .img-button {
        font-size: 1rem;
        padding: 10px 15px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .mt-custom {
        margin-top: 50px; 
    }
}

